.banner-container {
  background: url("../images/mbg.svg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-container {
  color: white;
}

.text-container h1 {
  font-size: 200px;
  /*letter-spacing: 1rem;*/
}

.text-container h2 {
  font-size: 40px;
  padding-left: 50px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .text-container h1 {
    font-size: 100px;
  }

  .text-container h2 {
    font-size: 30px;
  }
}

@media (min-width: 415px) {
  .text-container h1 {
    font-size: 100px;
  }

  .text-container h2 {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .banner-container {
    height: 50vh;
  }
  .text-container h1 {
    font-size: 40px;
  }

  .text-container h2 {
    font-size: 12px;
  }
}


