.banner-container {
  background: url("../images/mbg.svg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-container {
  color: white;
}

.text-container h1 {
  font-size: 200px;
  /*letter-spacing: 1rem;*/
}

.text-container h2 {
  font-size: 40px;
  padding-left: 50px;
}

@media (max-width: 768px) {
  .text-container h1 {
  font-size: 100px;
  /*letter-spacing: 1rem;*/
}

.text-container h2 {
  font-size: 30px;
  /*padding-left: 50px;*/
}
}

@media (max-width: 375px) {
  .banner-container {
  background: url("../images/mbg.svg") no-repeat;
  background-size: cover;
  height: 50vh;
}
  .text-container h1 {
  font-size: 40px;
  /*letter-spacing: 1rem;*/
}

.text-container h2 {
  font-size: 12px;
  /*padding-left: 50px;*/
}
}


