.about {
  width: 100%;
  min-height: 55vh;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text {
  font-size: 24px;
  letter-spacing: 0.2rem;
  margin-top: 70px;
  padding-bottom: 50px;
  font-weight: lighter;
  width: 600px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .about {
    height: 50vh;
  }
  .title {
    margin-top: 20px;
  }
  .text {
    font-size: 18px;
    width: auto;
  }
}

@media (max-width: 595px)  {
  .about {
    height: 50vh;
  }
  .title {
    margin-top: 20px;
  }
  .text {
    font-size: 14px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .about {
    height: 50vh;
  }
  .text {
    font-size: 12px;
    width: auto;
  }
}
