.footer img{
  margin: 0 40px;
}

.footer-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: url("../images/footer-bg.svg") no-repeat;
  background-size: cover;
  height: 30vh;
}

.contact-icons img {
  margin: 0 30px;
  margin-top: 50px
}
