.title3, .projects-container {
  display: flex;
}

.projects-container {
  flex-direction: column;
  width: 80%;
  padding-left: 85px;
}

.projects-container img {
  margin-bottom: 50px;
}
.position-left {
  align-self: flex-start;
}

.position-right {
  align-self: flex-end;
}

.projects-main-container {
  width: 100%;
}

.title3 {
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.p-hover {
  background: url('../images/project-hover.svg');
}

/*#project {
  display: inline-block;
  max-width: 370px;
  max-height: 300px;
}*/

@media (min-width: 768px) and (max-width: 992px) {

  /*.projects-container {
    width: auto;
    padding-left: 0;
  }

  .title3 {
    margin: 60px 0;
  }

  .projects-container img {
    margin-bottom: 0;
    width: 40%;
  }*/
}

@media (min-width: 411px) and (max-width: 595px)  {
  .projects-container {
    width: auto;
    padding-left: 0;
  }

  .title3 {
    margin: 60px 0;
  }

  .projects-container img {
    margin-bottom: 36px;
    width: 50%;

  }
}

@media (max-width: 375px) {
  .projects-container {
    width: auto;
    padding-left: 0;
  }

  .title3 {
    margin: 60px 0;
  }

  .projects-container img {
    margin-bottom: 0;
    width: 40%;
  }
}
