
/*import components*/
@import url("components/container.css");

/*import pages*/
@import url("home-page.css");
@import url("about.css");



body {
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0 200px;
}
