
/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:200i,300,400,600i,700');
/*import components*/

@import url("components/container.css");

/*import pages*/
@import url("home-page.css");
@import url("section-2.css");
@import url("section-3.css");
@import url("section-4.css");
@import url("section-5.css");

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.2rem;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 70px;
  opacity: 0.06;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0 200px;
  /*height: 100vh;*/
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    margin: 0 100px;
    }
  h3 {
    font-size: 30px;
  }
}

@media (min-width: 411px) and (max-width: 595px) {
  .main-container {
     margin: 0 70px;
  }
  h3 {
    margin: 0;
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */
  .main-container {
    margin: 0 35px;
  }

  h3 {
    font-size: 24px;
  }
}
